<style>
.parallax {
    /* The image used */
    <% if @restaurant.id == 1 %>
      background-image: url("https://i.imgur.com/qwpOQ7O.png");
    <% elsif @restaurant.id == 2 %>
      background-image: url("https://i.imgur.com/13kxFzO.png");
    <% else %>
      background-image: url("https://i.imgur.com/fSL3xvh.jpg");
    <% end %>
    /* Set a specific height */
    min-height: 400px;
    min-width: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
</style>

<div class="container parallax">
</div>


<div class="row justify-content-center double-border-top" style="margin-top: 10px;">
  <div class="col-md-auto"> <h1>Menu</h1></div>
</div>
<% if @restaurant %>
  <div class="row mb-5">
    <% @restaurant.products.each do |product| %>

      <div class="card col-auto text-center" style="width: 18rem;">
        <%= image_tag "#{product.name.downcase}_menu.jpg", alt: "chilaquiles", class:"circle"%>
        <div class="card-body">
          <h5 class="card-title"><%=product.name%></h5>
          <p class="card-text">$<%=product.price%></p>
          <a href="#" class="btn btn-primary">Detalles</a>
        </div>
      </div>

    <% end %>
  </div>
<% else %> 
  <div class="row justify-content-center" style="margin-top: 100px;">
    <div class="col-md-auto"> <h1>Este restaurante parece no tener menu.</h1></div>
  </div>
<% end %>

