<style>
.parallax {
    /* The image used */
    background-image: url("https://dummyimage.com/600x500/000/fff");

    /* Set a specific height */
    min-height: 400px;
    min-width: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
</style>

<div class="container parallax">
</div>


<div class="row justify-content-center" style="margin-top: 10px;">
  <div class="col-md-auto"> <h1>Menu</h1></div>
</div>
<% if @restaurant %>
  <div class="row">
    <% @restaurant.products.each do |product| %>

      <div class="card col-auto" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%=product.name%></h5>
          <p class="card-text"> <%=product.price%></p>
          <a href="#" class="btn btn-primary">Detalles</a>
        </div>
      </div>

    <% end %>
  </div>
<% else %> 
  <div class="row justify-content-center" style="margin-top: 100px;">
    <div class="col-md-auto"> <h1>Este restaurante parece no tener menu.</h1></div>
  </div>
<% end %>

