.bold {
  font-weight: bold;
}

.muted {
  @extend .text-muted;  
}

.border-bottom {
  border-bottom: $base-border;
}

.border-top {
  border-top: $base-border;
}

.center-button {
  display: flex;
  justify-content: center;
}

.login {
  width: 600px;
  padding: 60px;
  padding-bottom: 20px;
  margin: 50px auto;
  margin-bottom: 0;
}

.registration {
  @extend .login;
}

.navbar{
  background-color: #2a43b4;
  margin-top: 45px;
}

.navbar-light{
  color: blue;
}

.navbar-brand{
  padding-left: 150px;
}

#carouselExampleIndicators{
  margin-top: 40px;
}

