<div class="row status-container pt-4">
    <div class="col order-img">
        <%= image_tag  "chilaquiles_round.jpg", class:"circleBase"%>
    </div>
    <div class="col order-details pt-3">
        <h1 class="row">Tu orden de <strong>placeholder</strong> ha sido aceptada</h1>
        <h1 class="row">Cantidad: <strong>placeholder</strong></h1>
        <h1 class="row">Tamaño: <strong>placeholder</strong></h1>
    </div>
</div>