<div class="status-container">
    <div>
        <%= image_tag  "chilaquiles_round.jpg", class:"circleBase"%>
    </div>
    <div class="order-details">
        <h1>Tu orden de <strong>placeholder</strong> ha sido aceptada</h1>
        <h1>Cantidad: <strong>placeholder</strong> </h1>
        <h1>Tamaño: <strong>placeholder</strong> </h1>
    </div>
</div>