<title>TecFood</title>
<%= csrf_meta_tags %>

<%= stylesheet_link_tag    'application', media: 'all' %>
<%= javascript_include_tag 'application' %>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css?family=Lobster|Lobster+Two|Patrick+Hand+SC" rel="stylesheet">